@page
@model GroupStudyV3.Pages.StudentAssignments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentAssignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssignment.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssignment.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssignment.Assignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssignment.Assignment.AssignmentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAssignment.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentAssignment.Student.StudentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StudentAssignment.StudentAssignmentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
